.skill-body {
  flex-flow: row wrap;
  width: 100%;
  color: var(--primaryLight-color);
  justify-content: center;
}
.skill-group {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: var(--primaryLight-color) 2px dashed;
  border-radius: 5px;
}
.skill-list {
  display: flex;
  width: 100%;
  border-bottom: var(--primaryLight-color) 2px dashed;
}
/* .skill-body > :not(:first-child) {
  border-top: var(--primaryLight-color) 2px dashed;
} */
.skill-content {
  display: flex;
  align-items: center;
  padding-left: 10px;
  word-break: break-all;
}
.skill-head {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  word-wrap: break-word;
  border-bottom: var(--primaryLight-color) 2px dashed;
}
